<div class="about">
    <h2 class="about">seng3210 software architecture project</h2>
    <h3 class="about">dunwoody college of technology</h3>
    <h4 class="about">spring 2020</h4>
    <div class="devs">
        <h3 class="devs">developed by</h3>
        <a class="about" target="_blank" href="https://github.com/davidbrekke">
            <h4 class="dev">david magnuson</h4>
        </a>
        <p class="dev">&</p>
        <a class="about" target="_blank" href="https://github.com/andersfnelson">
            <h4 class="dev">anders nelson</h4>
        </a>
    </div>
    <div class="about-info">
        <h4 class="about-stuff"> total songs: <%= songs.length %></h4>
        <h4 class="about-stuff">total artists: <%= artists.length %></h4>
    </div>

</div>