<div class="addsong-page">
    <h2 class="addsong">add song</h2>
    <form action="/addSong" method="POST" class="addsong">
        <div class="inputBox">
            <label for="title">title</label>
            <input type="text" name="title" id="title" required focus />
        </div>
        <div class="inputBox">
            <label for="album">album</label>
            <input type="text" name="album" id="album" required />
        </div>
        <div class="inputBox">
            <label for="genre">genre</label>
            <input type="text" name="genre" id="genre" required />
        </div>
        <div class="inputBox">
            <label for="year">year</label>
            <input type="number" min="1900" max="2099" name="year" id="year" required />
        </div>
        <div class="textarea">
            <label for="lyrics">lyrics</label>
            <textarea type="text" name="lyrics" id="lyrics" cols="30" rows="10" required></textarea>
        </div>

        <button type="submit" id='submit' name="submit">add song</button>
    </form>
</div>