<div class="login-page">
    <h2 class="login">welcome back</h2>
    <form action="/login" method="POST" class="login-form">
        <!-- show any messages that come back with authentication -->
        <% if (message.length > 0) { %>
        <div class="flash-alert"><%= message %></div>
        <% } %>
        <div class="inputBox">
            <label for="username">username</label>
            <input type="text" name="username" id="username" required focus />
        </div>
        <div class="inputBox">
            <label for="password">password</label>
            <input type="password" name="password" id="password" required />
        </div>

        <button type="submit" id='submit' name="submit">login</button>

        <a class="form-link" href="/register">
            <h6>not a member? register here</h6>
        </a>
    </form>
</div>